.wuforecast .day {
  padding-left: 0;
  padding-right: 20px;
}

.wuforecast .weather-icon {
  padding-right: 20px;
  text-align: center;
}

.wuforecast .pop {
  text-align: right;
}

.wuforecast .min-temp {
  padding-left: 20px;
  padding-right: 0;
}
